<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <%- include('./partials/heading.ejs') %>

    

        <!-- Book Body -->
        <div class="row">
            <div class="col">
                <%= body %> 
            </div>
        </div>

    </div>

    <%- include ('./partials/footer.ejs') %> 
    <%-  include('./partials/scripts.ejs') %>

</body>