<%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container  min-90">
        <%- include('./partials/heading.ejs') %> 
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="lead text text-center">Send an Email to <br>
                    <a target="_blank" href="https:wwww.bestiprop@gmail.com" class="btn btn-1">bestiproph@gmail.com</a>
                </h3>
                <h3 class="text-center">
                    Or Call <br>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+2348127025069" class="btn btn-1"> +2348127025069</a>
                </h3>
            </div>
        </div>
    </div>

    <%- include ('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>